@media  screen and (max-width: 760px){ /* parte onde deixo meu site responsivo, posso edita-lo para caber em qualquer formato*/
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto
        width 100%;
    }

    input{
        align-self: center;
    }

    main img {
    max-width: 100%;
    height: auto;
}

    ul{
        text-align: center;
    }
}